<html>
  <head>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  </head>
  <link rel="stylesheet" type="text/css" href="../css/signin.css">
  <body>
    <div class="text-container"> 
      What's your phone number?
      <form class="submitPhone">
        <label for="phoneNumber">Phone number:</label>
        <input class='phonedigits' type="text">
        <input type="submit">
      </form>
    </div>

    <script type="text/javascript">
      $('.submitPhone').on('submit', function(e){
        e.preventDefault();
        var phoneNumber = $('.phonedigits').val();
        var phone = {num: phoneNumber};
        $.ajax({
          url: '/submit_number',
          type: 'POST',
          data: JSON.stringify(phone),
          contentType: 'application/json',
          success: function (data) {
            console.log('number sent');
          },
          error: function (data) {
            console.error('failed to send num');
          }
        });
      });
    </script>
  </body>
</html>
