<html>
  <link rel="stylesheet" type="text/css" href="../css/signin.css">
<body>
  <div class="text-container"> 
    Are you losing touch wih your friends? Do others call you a cold-hearted person? Outsource your thoughtfulness to Keep In Touch, and you'll never have to remember a friend again.
    <button onclick="location.href='/auth/facebook';" class="btn btn-facebook" href="/auth/facebook"> Sign in with Facebook</button>
  </div>
  <a href="http://hackreactor.com"> 
    <img style="position: fixed; top: 0; right: 0; border: 0;" 
      src="http://i.imgur.com/x86kKmF.png" 
      alt="Built at Hack Reactor"> 
  </a>
</body>
</html>
